<a href="https://colab.research.google.com/github/sehrish30/numpy-Practice/blob/main/7_Python_101_Python_Libraries_for_Data_Analysis_Numpy_Skeleton.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 1. NUMPY BASICS

In [1]:
# NumPy is a Linear Algebra Library used for multidimensional arrays
# NumPy brings the best of two worlds: (1) C/Fortran computational efficiency, (2) Python language easy syntax 
import numpy as np

# Let's define a one-dimensional array 
my_list = [10, 20, 50, 60, 70]
my_list

[10, 20, 50, 60, 70]

In [3]:
# Let's create a numpy array from the list "my_list"
x = np.array(my_list)
x

array([10, 20, 50, 60, 70])

In [4]:
type(x)

numpy.ndarray

# Multi-dimensional (Matrix definition) 
matrix = np.array([[5, 8], [9, 13]])
matrix

**MINI CHALLENGE #1:** 
- **Write a code that creates the following 2x4 numpy array**

```
[[4 6 8 7] 
[20 5 6 9]]
```

In [13]:
x = np.array([[4, 6, 8, 7], [20, 5, 6, 9]])
print(x)

[[ 4  6  8  7]
 [20  5  6  9]]

# 2. BUILT-IN METHODS AND FUNCTIONS

In [14]:
# "rand()" uniform distribution between 0 and 1
x = np.random.rand(15)
x

array([0.94963232, 0.58724727, 0.79221599, 0.99603697, 0.07651114,
       0.02984163, 0.06944947, 0.64131252, 0.58919958, 0.76037026,
       0.7394587 , 0.93930968, 0.85902343, 0.99661037, 0.32576964])

In [16]:
# you can create a matrix of random number as well
x = np.random.rand(5, 5)
x

array([[1.20428471e-01, 3.63767247e-01, 1.18964083e-01, 3.63836812e-02,
        3.89204812e-02],
       [4.82622148e-02, 7.19136767e-02, 3.11276730e-01, 7.51261863e-01,
        2.51516458e-01],
       [9.14961308e-01, 4.65230796e-01, 1.07633973e-01, 7.89549832e-01,
        8.44930843e-04],
       [6.00898306e-01, 3.30123366e-01, 8.68017953e-01, 1.13469056e-01,
        9.61913889e-01],
       [5.29381318e-01, 8.37618821e-01, 5.55673839e-01, 4.49666951e-01,
        3.35408246e-02]])

In [17]:
# "randn()" normal distribution between 0 and 1
x = np.random.randn(10)
x

array([-0.46221399, -0.17551525, -0.64196301, -0.5780721 , -0.57317859,
       -1.46336556,  0.92206894, -2.0134433 , -0.06468905,  1.03926172])

In [18]:
# "randint" is used to generate random integers between upper and lower bounds
x = np.random.randint(1 , 10)
x

3

In [19]:
# "randint" can be used to generate a certain number of random itegers as follows
x = np.random.randint(1, 100, 15)
x

array([53,  2, 63, 87, 72, 16, 87, 75, 18, 42, 61, 58, 73, 91, 56])

In [21]:
# np.arange creates an evenly spaced values within a given interval
x = np.arange(1, 50)
x

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17,
       18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34,
       35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49])

In [23]:
# Create an evenly spaced values with a step of 5
x = np.arange(1, 50, 5)
x

array([ 1,  6, 11, 16, 21, 26, 31, 36, 41, 46])

In [25]:
# create a diagonal of ones and zeros everywhere else
x = np.eye(10)
x

array([[1., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 1., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 1., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 1., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 1., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 1., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 1., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 1., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 1., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 1.]])

In [26]:
# Array of ones
x = np.ones(10)
x

array([1., 1., 1., 1., 1., 1., 1., 1., 1., 1.])

In [28]:
# Matrices of ones
x = np.ones((10, 10))
x

array([[1., 1., 1., 1., 1., 1., 1., 1., 1., 1.],
       [1., 1., 1., 1., 1., 1., 1., 1., 1., 1.],
       [1., 1., 1., 1., 1., 1., 1., 1., 1., 1.],
       [1., 1., 1., 1., 1., 1., 1., 1., 1., 1.],
       [1., 1., 1., 1., 1., 1., 1., 1., 1., 1.],
       [1., 1., 1., 1., 1., 1., 1., 1., 1., 1.],
       [1., 1., 1., 1., 1., 1., 1., 1., 1., 1.],
       [1., 1., 1., 1., 1., 1., 1., 1., 1., 1.],
       [1., 1., 1., 1., 1., 1., 1., 1., 1., 1.],
       [1., 1., 1., 1., 1., 1., 1., 1., 1., 1.]])

In [30]:
# Array of zeros
x = np.zeros(50)
x

array([0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.])

**MINI CHALLENGE #2:**
- **Write a code that takes in a number x from the user and creates a 1x20 array with random numbers ranging from 0 to x**

In [33]:
x = int(input('Please enter a positive integer value'))
x = np.random.randint(1, x, 20)
x

Please enter a positive integer value10

array([2, 1, 1, 1, 6, 1, 6, 8, 6, 4, 2, 1, 1, 3, 4, 4, 4, 6, 7, 8])

# 3. SHAPE, LENGTH, TYPE, RESHAPE, AND MAX/MIN VALUES

In [36]:
# Let's define a one-dimensional array 
my_list = [-30, 4, 50, 60, 29, 15, 22, 90]
my_list
x = np.array(my_list)
x

array([-30,   4,  50,  60,  29,  15,  22,  90])

In [37]:
# Get Length of a numpy array
len(x)

8

In [38]:
# Get shape
x.shape

(8,)

In [39]:
# Obtain the datatype
x.dtype

dtype('int64')

In [41]:
# Reshape 1D array into a matrix
z = x.reshape(2, 4)
z

array([[-30,   4,  50,  60],
       [ 29,  15,  22,  90]])

In [44]:
# Obtain the maximum element (value)
x.max()

90

In [42]:
# Obtain the minimum element (value)
x.min()

-30

In [45]:
# Obtain the location of the max element
x.argmax()

7

In [46]:
# Obtain the location of the min element
x.argmin()

0

**MINI CHALLENGE #3:**
- **Write a code that creates a 4x5 array inwhich numbers range between 300 and 500 such that the difference between elements is 10**

In [48]:
x = np.arange(300, 500, 10)
x

array([300, 310, 320, 330, 340, 350, 360, 370, 380, 390, 400, 410, 420,
       430, 440, 450, 460, 470, 480, 490])

In [49]:
x.shape

(20,)

In [50]:
x= x.reshape(4, 5)
print(x)

[[300 310 320 330 340]
 [350 360 370 380 390]
 [400 410 420 430 440]
 [450 460 470 480 490]]

**MINI CHALLENGE #4:**
- **Write a code that creates a 20x20 numpy array of random values that ranges from -1000 to 1000 and obtain the maximum, minimum, and mean values**

In [52]:
x = np.random.randint(-1000, 1000, (20, 20))
print(x)

[[-567  392  163 -414 -593 -685  -50 -347  823 -721   67 -296  196  150
  -954  790 -549 -523 -424  425]
 [-873 -985  719 -486  763  515 -200 -751   67 -165 -121  756  586  927
   -16  869  604  771 -453  -38]
 [-183 -204  698 -843 -368  551  499 -545  461 -668  -60  371 -110  495
  -560 -258  836 -272 -606  456]
 [ 673  920  875 -844  789 -450  474 -300  143 -765 -183  463 -604 -566
  -372  725 -411  618  386 -618]
 [-175 -264  170  263  775 -509  607  783 -456  845 -240 -216  188  579
   535 -813  478 -589 -633  317]
 [ 525  -18  719  724 -408 -542  -21 -586  324   15 -884  -92 -790  934
   -30 -342 -126 -791  161  999]
 [ 170 -778 -557 -801 -545 -605  785 -450  439  624   50 -829 -852 -387
   416  709  988  869 -982   83]
 [-682  566  274 -209 -889   -8 -276 -477 -875 -699 -311  -14  576  -85
    74  574 -262  337 -317 -104]
 [-226  375 -268 -710 -378 -202 -854 -607 -277 -683 -670 -276  780  915
  -537 -654 -637   85 -206   91]
 [-402 -109  265  560  816 -253  463 -685 -586 -208 -623  369 -203   65
  -928  629  798  767  620   -7]
 [ 827  984 -761   84 -610  290  483  493  957  906  255  737 -574 -333
   162  538  566  326  301 -593]
 [-534 -552   -1  692 -688  949 -419 -488  -97  190 -288  548 -416  -92
   819  660 -967  489  559  369]
 [-593   60 -733 -248  430 -682 -990 -396 -602 -247 -670 -635  -22  113
   608  358 -775 -687  349 -682]
 [-662 -662  209 -509 -731 -625  535  910  677 -322  267 -922 -646  410
   452 -482  217 -683 -904  601]
 [ 683 -253 -542  945 -701 -424  107  -85 -279 -415 -868 -278  891   92
   458 -790  -45 -833  866 -918]
 [  67  -33 -517  810  645   -3 -770  -13  126 -860  923  797  -62 -584
  -130    1 -198  251 -892  -32]
 [ 669  633 -203 -569  -80  186 -703  276 -753 -968   14 -589   93  -18
   186  304 -967 -218  774  370]
 [ 936 -810  595  960 -374 -443 -553 -414 -179  311 -547 -532 -584  733
   723 -178  454  465  416  112]
 [-629 -895  648  749 -617 -590 -842  428   81  784  182 -798 -739  141
   -24  461 -408   -3  886 -203]
 [-419  704 -714  -75 -960 -119 -753 -876  -24  491   49  195  656   41
   959 -857 -434 -248  552 -583]]

In [54]:
x.shape

(20, 20)

In [55]:
x.max()

999

In [56]:
x.min()

-990

In [57]:
x.mean()

-42.2525

In [58]:
print(f"the mac value is: {x.max()} and the miniumum value is {x.min()}")

the mac value is: 999 and the miniumum value is -990

# 4. MATHEMATICAL OPERATIONS

In [ ]:
# np.arange() returns an evenly spaced values within a given interval

In [ ]:
# Add 2 numpy arrays together

**MINI CHALLENGE #5:**
- **Given the X and Y values below, obtain the distance between them**


```
X = [3, 20, 30]
Y = [4, 6, 7]
```

# 5. SLICING AND INDEXING

In [ ]:
# Access specific index from the numpy array

In [ ]:
# Starting from the first index 0 up until and NOT inlcluding the last element

In [ ]:
# Broadcasting, altering several values in a numpy array at once

In [ ]:
# Let's define a two dimensional numpy array

In [ ]:
# Get a row from a mtrix

In [ ]:
# Get one element

**MINI CHALLENGE #6:**
- **In the following matrix, replace the last row with -1**
- **Multiply the 2x2 matrix in the upper right corner by 2**



```
X = [2 30 20 -2 -4]
    [3 4  40 -3 -2]
    [-3 4 -6 90 10]
    [25 45 34 22 12]
    [13 24 22 32 37]
```

# 6. ELEMENTS SELECTION (CONDITIONAL)

**MINI CHALLENGE #7:**
- **In the following matrix, replace negative elements by 0 and replace odd elements with 25**


```
X = [2 30 20 -2 -4]
    [3 4  40 -3 -2]
    [-3 4 -6 90 10]
    [25 45 34 22 12]
    [13 24 22 32 37]
```

# EXCELLENT JOB!

# MINI CHALLENGES SOLUTIONS

**MINI CHALLENGE #1 SOLUTION:** 
- **Write a code that creates the following 2x4 numpy array**

```
[[4 6 8 7] 
[20 5 6 9]]
```

In [ ]:
x = np.array([[[4, 6, 8, 7] , [20, 5, 6, 9]]])
x

**MINI CHALLENGE #2 SOLUTION:**
- **Write a code that takes in a number x from the user and creates a 1x20 array with random numbers ranging from 0 to x**

In [ ]:
x = int(input("Please enter a positive integer value: "))
x = np.random.randint(1, x, 20)
x

**MINI CHALLENGE #3 SOLUTION:**
- **Write a code that creates a 4x5 array inwhich numbers ranging between 300 and 500 such that the difference between elements is 10**

In [ ]:
x = np.arange(300, 500, 10)
x.shape

In [ ]:
x = x.reshape(4, 5)
print(x)

**MINI CHALLENGE #4 SOLUTION:**
- **Write a code that creates a 20x20 numpy array of random values that ranges from -1000 to 1000 and obtain the maximum, minimum, and mean values**

In [ ]:
x = np.random.randint(-1000, 1000, (20, 20))
print(x)
print('The maximum value is: {} and the minimum value is:{}'.format(x.min(), x.max()))

**MINI CHALLENGE #5 SOLUTION:**
- **Given the X and Y values below, obtain the distance between them**


```
X = [3, 20, 30]
Y = [4, 6, 7]
```

In [ ]:
X = np.array([3, 20, 30])
Y = np.array([4, 6, 7])
Z = np.sqrt(X**2 + Y**2)
Z

**MINI CHALLENGE #6 SOLUTION:**
- **In the following matrix, replace the last row with -1**
- **Multiply the 2x2 matrix in the upper right corner by 2**



```
X = [2 30 20 -2 -4]
    [3 4  40 -3 -2]
    [-3 4 -6 90 10]
    [25 45 34 22 12]
    [13 24 22 32 37]
```

In [ ]:
X = np.array([[2, 30, 20, -2, -4],
    [3, 4,  40, -3, -2],
    [-3, 4, -6, 90, 10],
    [25, 45, 34, 22, 12],
    [13, 24, 22, 32, 37]])

In [ ]:
X[4] = 0
X

In [ ]:
X[:2, 3:]  = X[:2, 3:] * 2

In [ ]:
X

**MINI CHALLENGE #7 SOLUTION:**
- **In the following matrix, replace negative elements by 0 and replace odd elements with 25**


```
X = [2 30 20 -2 -4]
    [3 4  40 -3 -2]
    [-3 4 -6 90 10]
    [25 45 34 22 12]
    [13 24 22 32 37]
```

In [ ]:
X = np.array([[2, 30, 20, -2, -4],
    [3, 4,  40, -3, -2],
    [-3, 4, -6, 90, 10],
    [25, 45, 34, 22, 12],
    [13, 24, 22, 32, 37]])

X[X%2==1] = 25
X[X<0] = 0
X